

@model List<code_first.Models.SinhVien>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách sinh viên  thuộc khoa CNTT và có tuổi từ 18 đến 20.</h2>
<table class="styled-table">
    <tr>
        <th>ID</th>
        <th> Tên sinh viên</th>
        <th> Tuổi</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.IdSv</td>
            <td>@item.TenSv</td>
            <td>@item.Tuoi</td>
        </tr>
    }
</table>